@import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,700");

body{
    font-family : "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: #f1f1f1;
}
h1{
    font-family: "IntroBoldAltRegular", Arial, sans-serif;
    font-size: 32px;
    color: #1ebab8;
    display: inline-block;
    float: left;
    height:40px;
    line-height: 40px;
}
h2{
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #353535;
    margin: 0;
}
    h2:before{
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background-color: #dadada;
        margin: 90px auto;
    }
    h2.no-line:before{
        display: none;
    }
h3,
p.leading{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    margin: 15px 0;
}
    h3:after{
        content: '';
        width: 60px;
        height: 2px;
        display: block;
        background-color: #ed3338;
        margin: 45px auto;

    }
h4{
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 15px 0;
}
p{

}
p > span{
    font-weight: 700;
}
p.leading{

}
p.intro{
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
}
.align-center{
    width: 100%;
    text-align: center;
}
.pos-rel{
    position: relative;
}
header{
    height: 80px;
    width: calc(100% - 60px);
    padding: 0 30px;
    background-color: rgba(255,255,255,0.95);
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 99;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px;
    -ms-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}
    header h1{
        margin: 20px 0;
    }
    header .label-logo{
        width: 135px;
        height: 20px;
        position: absolute;
        right: 30px;
        top: 30px;
        background-image: url("../images/svg/the-logo.svg");
        background-size: 135px;
        background-position: 0 0;
        background-repeat: no-repeat;
        opacity: 1;
        z-index: 999;
    }
    header.minified,
    header.docs{
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;

    }
        header.minified .label-logo,
        header.docs .label-logo{
            top: 20px;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
        }
        header.minified h1,
        header.docs h1{
            margin: 10px 0;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
        }
        header.minified #nav-menu,
        header.docs #nav-menu{
            margin: 10px !important;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
        }
#nav-menu{
    display: inline-block;
    height: 40px;
    margin: 20px 10px;
}
    #nav-menu ul{
        margin: 0;
        padding: 0;
        float: left;
        display: inline-block;
        width: auto;
    }
        #nav-menu ul li {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: left;
            position: relative;
            text-align: center;
            z-index: 100;
            text-transform: uppercase;
        }
            #nav-menu li a{
                text-decoration: none;
                font-family: "IntroBoldAltRegular", Arial, sans-serif;
                font-size: 14px;
                width: auto;
                padding: 10px 15px;
                color: #383838;
                float: left;
                height: 40px;
                line-height: 24px;
            }
                #nav-menu li.current a{
                    color: #ed3338;
                }
                #nav-menu li a:hover{
                    color: #1ebab8;
                    -webkit-transition: 0.25s;
                    -moz-transition: 0.25s;
                    -o-transition: 0.25s;
                    transition: 0.25s;
                }
a.button {
    background-color: transparent;
    display: inline-block;
    padding: 10px 15px;
    height: 40px;
    line-height: 18px;
    cursor: pointer;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-borer-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 16px;
}
a.button:hover {
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
    a.button.white{
        border: 2px solid white;
        color: white;
    }
        a.button.white:hover{
            background-color: white;
            color: #1ebab8;
        }
    a.button.black{
        border: 2px solid #353535;
        color: #353535;
    }
        a.button.black:hover{
            border-color: #1ebab8;
            color: #1ebab8;
        }
    a.button.huge-button{
        height: 60px;
        padding: 15px 30px;
        line-height: 25px;
        font-size: 22px;
    }
section.content{
    z-index: 1;
}
    .content main.introduction{
        padding-top: 80px;
        background-color: #1ebab8;
        min-height: 100px;
        height: 600px;
    }
        .content main.introduction .container{
            height: 600px;
            padding: 80px 0;
            display: table;
        }
        .content main.introduction .container div{
            display: table-row;
            padding: 0 30px !important;
        }
        .content main.introduction .container div div{
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        .content main.introduction .button{
            margin: 30px 15px;
        }
    .content section.first-home-item{
        margin-top: -90px;
    }
        .content section.first-home-item > .container{
            background-color: white;
            padding: 90px 0;
        }
    .content h3{
        display: block;
        width: 80%;
        margin-left: 10%;
    }
main.docs-introduction{
    padding-top: 60px;
    background-color: #1ebab8;
    height: 300px;
}
    main.docs-introduction .container{
        height: 240px;
        padding: 60px 0;
        display: table;
    }
    main.docs-introduction .container div{
        display: table-row;
        padding: 0 30px;
    }
    main.docs-introduction .container div div{
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    main.docs-introduction h2{
        color: white;
        margin: 30px;
    }
section.docs{

}
    section.docs .container{
        width: 100% !important;
    }
    section.docs .container div div{
        padding: 60px;
    }
    section.docs .docs-content{
        background-color: white;
    }
    section.docs .docs-menu{
        background: #fafafa;
        position: absolute;
        left: 0;
        top: 0px;
        height: 100%;
    }
        section.docs .docs-menu.fixed{
            position: fixed !important;
            top: 60px;
        }