@import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,700");

body{
    font-family : "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: #f1f1f1;
}
h1{
    position: relative;
    font-family: "IntroBoldAltRegular", Arial, sans-serif;
    display: inline-block;
    float: left;
    height: 40px;
    font-size: 28px;
    line-height: 40px;
}
    h1 a,
    h1 a:hover{
        color: #1ebab8;
        text-decoration: none;
    }
h2,
h2 a{
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    color: #353535;
    margin: 0 0 15px 0;
    font-weight: 300;
    float: left;
    display: block;
    width: 100%;
    text-decoration: none;
}
h3,
h3 a{
    text-align: left;
    font-size: 22px;
    line-height: 30px;
    color: #1ebab8;
    margin: 10px 0 5px 0;
    float: left;
    display: block;
    width: 100%;
    text-decoration: none;
}
h4 {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 5px 0;
    float: left;
    display: block;
    width: 100%;
    color: #555555;
}
a{
    color: #353535;
    text-decoration: underline;
    cursor: pointer;
}
    a:hover{
        color: #1ebab8;
        text-decoration: underline;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }
p{
    font-size: 16px;
    line-height: 30px;
}
p > span{
    font-weight: 700;
}
p.leading{
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 15px 0;
    float: left;
    display: block;
    width: 100%;
    color: #555555;
}
    p.leading.underline:after{
        content: "";
        width: 60px;
        height: 2px;
        display: block;
        background-color: #ed3338;
        margin: 45px auto;
    }
p.intro{
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
}
.align-center{
    width: 100%;
    text-align: center;
}
.pos-rel{
    position: relative;
}
.page-devider{
    width: 100%;
    height: 1px;
    background-color: #dadada;
    display: block;
    float: left;
    margin: 30px 0;
}
.anchor{
    padding-top: 60px;
    margin-top: -60px;
}
header{
    z-index: 99;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px;
    -ms-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
    background-color: rgba(255,255,255,0.95);
}
    header.home{
        position: fixed;
        left: 30px;
        top: 30px;
        height: 80px;
        width: calc(100% - 60px);
        padding: 0 30px;
        border-radius: 2px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
    }
    header.docs {
        position: relative;
        float: left;
        width: 100%;
    }
        header.docs .container > div > div{
            padding: 0;
        }
    header h1{
        margin: 20px 0;
    }
    header .label-logo{
        width: 135px;
        height: 20px;
        position: absolute;
        right: 30px;
        top: 32px;
        background-image: url("../images/svg/the-logo.svg");
        background-size: 135px;
        background-position: 0 0;
        background-repeat: no-repeat;
        opacity: 1;
        z-index: 999;
    }
    header.home.minified{
        top: 0;
        left: 0;
        position: fixed;
        border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    header.docs.minified{
        top: 0;
        left: 0;
        position: fixed;
    }
    header.minified,
    header.docs{
        height: 60px;
        width: 100%;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;

    }
        header.minified .label-logo,
        header.docs .label-logo{
            top: 22px;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
        }
            header.docs .label-logo{
                right: 0;
            }
        header.minified #nav-menu,
        header.docs #nav-menu{
            margin: 10px !important;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
        }
        header.minified h1,
        header.docs h1{
            margin: 10px 0;
        }
#nav-menu{
    display: inline-block;
    height: 40px;
    margin: 20px 10px;
}
    #nav-menu ul{
        margin: 0;
        padding: 0;
        float: left;
        display: inline-block;
        width: auto;
    }
        #nav-menu ul li {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: left;
            position: relative;
            text-align: center;
            z-index: 100;
            text-transform: uppercase;
        }
            #nav-menu li a{
                text-decoration: none;
                font-family: "IntroBoldAltRegular", Arial, sans-serif;
                font-size: 14px;
                width: auto;
                padding: 10px 15px;
                color: #383838;
                float: left;
                height: 40px;
                line-height: 24px;
            }
                #nav-menu li.current a{
                    color: #ed3338;
                }
                #nav-menu li a:hover{
                    color: #1ebab8;
                    -webkit-transition: 0.25s;
                    -moz-transition: 0.25s;
                    -o-transition: 0.25s;
                    transition: 0.25s;
                }
a.button {
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    height: 40px;
    line-height: 17px;
    cursor: pointer;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 16px;
}
a.button:hover {
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
    a.button.white{
        border: 2px solid white;
        color: white;
    }
        a.button.white:hover{
            background-color: white;
            color: #1ebab8;
        }
    a.button.black{
        border: 2px solid #353535;
        color: #353535;
    }
        a.button.black:hover{
            border-color: #1ebab8;
            color: #1ebab8;
        }
    a.button.huge-button{
        height: 60px;
        padding: 15px 30px;
        line-height: 25px;
        font-size: 22px;
    }
section.content{
    z-index: 1;
}
    .content main.introduction{
        padding-top: 80px;
        background-color: #1ebab8;
        min-height: 100px;
        height: 650px;
        border-bottom: 4px solid #189391;
    }
        .content main.introduction .container{
            height: 600px;
            padding: 80px 0;
            display: table;
        }
        .content main.introduction .container div{
            display: table-row;
            padding: 0 30px !important;
        }
        .content main.introduction .container div div{
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        .content main.introduction .button{
            margin: 30px 15px;
        }
    .content section.home{
        margin-top: -90px;
    }
        .content section.home h2,
        .content section.home h3,
        .content section.home p.leading{
            text-align: center;
        }
        .content section.home p.leading{
            margin-top: 15px;
        }
        .content section.home > .container{
            background-color: white;
            padding-top: 90px;
            padding-bottom: 90px;
            border-radius: 2px;
            -ms-border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
        }
        .content section.home h2:before{
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            background-color: #dadada;
            margin: 90px auto;
        }
        .content section.home h2.no-line:before{
            display: none;
        }
        .content section.home h3{
            display: block;
            width: 80%;
            margin-left: 10%;
        }
main.docs-introduction{
    background-color: #1ebab8;
    height: 120px;
}
    main.docs-introduction .container{
        height: 120px;
    }
        main.docs-introduction .container > div > div{
            padding: 0;
        }
    main.docs-introduction h2{
        color: white;
        line-height: 30px;
        margin: 45px 0;
    }
section.docs {

}
    section.docs h3{
        font-weight: 700;
    }
    section.docs .container{
        margin-top: 60px;
    }
    section.docs .docs-content{
        background-color: white;
        padding: 60px;
    }
        section.docs .docs-content ul{
            display: block;
            float: left;
            width: 100%;
            margin-top: 15px;
            list-style-type: none;
            padding: 0;
        }
            section.docs .docs-content ul li{
                line-height: 30px;
                padding-left: 20px;
                position: relative;
            }
                section.docs .docs-content ul li a{
                    color: #1ebab8;
                }
                    section.docs .docs-content ul li a:hover{
                        color: #353535;
                        -webkit-transition: 0.25s;
                        -moz-transition: 0.25s;
                        -o-transition: 0.25s;
                        transition: 0.25s;
                    }
                section.docs .docs-content ul li:before{
                    content:"#";
                    opacity: 0.25;
                    filter: alpha(opacity=25);
                    position: absolute;
                    width: 20px;
                    height: 30px;
                    left: 0;
                    top: 0;
                    color: #1ebab8;
                }
            section.docs .docs-content ul li a{
                text-decoration: none;
            }
    section.docs .docs-menu{
        background: #fafafa;
        height: 100%;
        padding: 60px 0 30px 30px;
        position: absolute;
        top: 0;
        left: 0;
    }
        section.docs .docs-menu span{
            font-size: 16px;
            width: 100%;
            display: inline-block;
            border-bottom: 1px solid #f1f1f1;
            padding: 0 0 5px 0;
            margin-bottom: 5px;
        }
        section.docs .docs-menu ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            float: left;
        }
        section.docs .docs-menu li a{
            color: #888888;
            text-decoration: none;
            font-size: 14px;
            padding-left: 15px;
        }
            section.docs .docs-menu li a:hover{
                color: #353535;
                -webkit-transition: 0.25s;
                -moz-transition: 0.25s;
                -o-transition: 0.25s;
                transition: 0.25s;
            }
            section.docs .docs-menu > ul > li:hover{
                border-right: 2px solid #1ebab8;
            }
        section.docs .docs-menu > ul > li{
            width: 100%;
            font-size: 14px;
            min-height: 20px;
            line-height: 20px;
            display: inline-block;
            float: left;
            padding: 5px 0;
            font-weight: 400;
        }
            section.docs .docs-menu ul li.active{
                border-right: 2px solid #1ebab8;
            }
        section.docs .docs-menu ul li ul{
            padding-left: 15px;
            margin-top: 5px;
            display: block;
            width: 100%;
        }
        section.docs .docs-menu ul li ul li{
            font-size: 14px;
            height: 20px;
            line-height: 20px;
            margin-top: 5px;
            display: inline-block;
            width: 100%;
            float: left
        }
        section.docs table{
            margin: 0 0 15px 0;
            padding: 15px;
            display: block;
            border: 1px solid #dadada;
            background-color: #fafafa;
            border-radius: 2px;
            -ms-border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            float: left;
            width: 100%;
        }
            section.docs table td{
                padding: 5px 0 5px 15px;
            }
        section.docs pre{
            background-color: #333;
            border-radius: 2px;
            -ms-border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border: 0;
            color: white;
            padding: 30px;
            margin: 0 0 15px 0;
            float: left;
            width: 100%;
        }
.animated-gif{
    width: 646px;
    height: 384px;
    padding: 20px 3px 3px 3px;
    background-color: #dadada;
    display: block;
    float: none;
    position: relative;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 0 auto 60px auto;
}
    .animated-gif span,
    .animated-gif span:before,
    .animated-gif span:after{
        content: "";
        width: 5px;
        height: 5px;
        display: block;
        position: absolute;
        border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    .animated-gif span{
        background-color: #F7E6AD;
        top: 8px;
        left: 15px;
    }
    .animated-gif span:before{
        background-color: #ed3338;
        top: 0;
        left: -10px;
    }
    .animated-gif span:after{
        background-color: #1ebab8;
        top: 0;
        left: 10px;
    }
    .animated-gif img{
        float: left;
        display: inline-block;
    }
.wrapper{
    display: block;
    width: 100%;
    float: left;
}
footer{
    margin: 30px 0;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 991px){
    .label-logo{
        display: none !important;
    }
    .docs-menu{
        display: none;
    }
}

@media (max-width: 768px){

    .container{
        width: 768px !important;
    }

    header.home {
        width: 768px;
        left: 0;
        top: 0;
    }
    main.docs-introduction .container > div > div,
    header.docs .container > div > div{
        padding: 0 15px;
    }
}