@import includes
@import trumbowyg

// ------ 
// Fonts imported from Google Fonts, when offline use is required, download zip from the import page
// ------

@import url('https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,700')

// ------
// CSS reset, including force setting of font-family
//
// http://meyerweb.com/eric/tools/css/reset/ 
// v2.0 | 20110126
// License: none (public domain)
// ------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font-family: 'Open Sans', Helvetica, Arial
    vertical-align: baseline

// ------ HTML5 display-role reset for older browsers ------
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
    display: block
ol, ul
    list-style-type: none
blockquote
    quotes: none
    &:before,
    &:after
        content: none
q
    quotes: none
    &:before,
    &:after
        content: none
table 
    border-collapse: collapse
    border-spacing: 0

// ------ Scaffolding ------
body
    background: $body-color
    color: $font-color
    overflow-y: hidden
    h1
        float: left
        height: 40px
        margin: 15px 0px 15px 30px
        font-size: 25px
        font-weight: 400
        line-height: 40px
    h2
        font-size: 25px
        font-weight: 100
        height: 40px
        line-height: 40px
    a
        text-decoration: none

// ------ Generic elements ------
.button
    width: auto
    margin: 0
    padding: 10px 20px
    cursor: pointer
    color: white
    border: 0
    font-size: 14px
    line-height: 20px
h2 
    & > .button
        float: right
    span
        height: 40px
        display: inline-block
        width: auto
        line-height: 40px
        float: left

// ------ Authentication overlay ------
.authentication-overlay
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 1000
    vertical-align: middle
    background: rgb(241, 241, 241)
    &.transparent
        background: rgba(241, 241, 241, 0.8)
    form
        position: absolute
        display: table-cell
        top: 0
        left: 0
        right: 0
        bottom: 0
        height: 330px
        width: 420px
        padding: 45px
        margin: auto
        background: white
    &.authentication-overlay-hugeinc
        opacity: 0
        visibility: hidden
        transition: 0.25s
        -ms-transition: 0.25s
        -moz-transition: 0.25s
        -webkit-transition: 0.25s
        &.open
            opacity: 1
            visibility: visible
            -webkit-transition: opacity 0.5s
            transition: opacity 0.5s

// ------ Message ------
.message
    position: fixed
    z-index: 1001
    top: calc(50% - 80px)
    right: 0
    left: 0
    width: 550px
    min-height: 120px
    margin: 0 auto
    padding: 20px
    color: white
    animation-duration: 0.25s !important
    -ms-animation-duration: 0.25s !important
    -moz-animation-duration: 0.25s !important
    -webkit-animation-duration: 0.25s !important
    &:before 
        content: ''
        position: fixed
        top: 0
        left: 0
        height: 100%
        width: 100%
        opacity: 0
    &:after 
        content: ''
        position: absolute
        right: 15px
        top: 15px
        width: 15px
        height: 15px
        background-image: url('../img/close.svg')
        background-size: 15px
        cursor: pointer  

// ------ Header ------
header
    position: fixed
    width: 100%
    left: 0
    top: 0
    height: 70px
    #user 
        float: right
        margin-top: 15px
        line-height: 20px
        display: inline-block
        width: auto
        color: white
        height: 20px
        padding: 10px 0
        margin-right: 15px
        font-size: 15px
    #buttons 
        float: right
        margin-top: 15px
        margin-right: 15px
        & > a 
            display: inline-block
            width: auto
            color: white
            height: 20px
            padding: 10px 20px
            margin-right: 10px
            font-size: 15px
            line-height: 20px
            margin: 0
            &:hover
                background-color: $button-hover-color !important
                transition: 0.25s
                -ms-transition: 0.25s
                -moz-transition: 0.25s
                -webkit-transition: 0.25s
                color: $font-color

// ------ Main menu ------
ul#main-menu 
    position: fixed
    z-index: 999
    top: 100px
    left: 15px
    span 
        display: none
    li 
        position: relative
        width: 60px
        height: 60px
        cursor: pointer
        margin-bottom: 30px
        display: block
        &:before 
            color: white
            position: absolute
            height: 60px
            width: 60px
            font-size: 25px
            line-height: 60px
            text-align: center
        &:after 
            content: ''
            position: absolute
            width: 0
            height: 0
            border-width: 9px 15px 0 0
            border-style: solid
            border-color: transparent rgb(7, 166, 161) transparent transparent
            top: -10px
            left: 0

// ------ Generic panel ------
#panels 
    position: absolute
    display: table
    top: 70px
    height: calc(100% - 100px)
    overflow-x: scroll
    overflow-y: hidden
    left: 30px
    &:before
        content: ''
        display: block
        position: fixed
        left: 0
        top: 70px
        height: calc(100% - 70px)
        width: 30px
        background-color: $body-color
        z-index: 998
    & > div 
        display: table-row
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    .panel 
        display: table-cell
        position: relative
        background-color: white
        border-right: 4px solid $body-color       
        animation-duration: 0.25s !important
        -ms-animation-duration: 0.25s !important
        -moz-animation-duration: 0.25s !important
        -webkit-animation-duration: 0.25s !important
        z-index: 99
        &.animated:last-child
            z-index: 1 !important
        &:first-child > div 
            margin-left: 45px

        & > div 
            overflow-y: auto
            overflow-x: hidden
            float: left
        
// ------ Menu ------
#panels
    .panel-menu
        & > div 
            width: 300px
            display: block
            ul 
                margin: 30px 0 0 30px
                li 
                    position: relative
            .menu-item-link 
                display: block
                height: 30px
                padding: 15px 15px 14px 30px
                border-bottom: 1px solid
                font-size: 14px
                line-height: 30px
                cursor: pointer
                width: calc(100% - 45px)
                &:before,
                &:after
                    position: absolute
                    font-size: 18px
                    line-height: 30px
                    height: 30px
                    width: 30px
                    display: block
                    top: 15px
                &:before
                    left: 0
                &:after
                    content: "\f154"
                    font-family: "Ionicons"
                    right: 0
                    color: $input-border-color
                &.active.auja-active-border-main
                    border-bottom: 2px solid
                    border-color: inherit
                    padding-bottom: 13px
                    &:after,
                    &before
                        color: inherit
            .menu-item-spacer 
                min-height: 15px
                padding: 23px 0 5px 30px
                margin: 0 0 0 -30px
                border-bottom: 2px solid
                font-size: 12px
                line-height: 15px
                cursor: default
                text-transform: uppercase
                background-color: white
            .menu-item-resource
                & > ul 
                    margin: 0
            input[type="text"]
                width: 100%
                display: inline-block
                height: 40px
                background-color: $input-color
                margin-left: -30px
                padding: 0 15px
                border: 0
                border-bottom: 2px solid $input-border-color
                font-size: 14px
                &:focus
                    outline: none
                    border: none
                    border-bottom: 2px solid
                    transition: 0.25s
                    -ms-transition: 0.25s
                    -moz-transition: 0.25s
                    -webkit-transition: 0.25s




// ------ Page ------
#panels 
    .panel-page
        & > div 
            width: 600px
            & > div 
                margin: 30px
    .row 
        width: 100%
        clear: both
        display: inline-block    
 
// ------ Form ------
form 
    .row
        &.form-item 
            margin: 30px 0 0 0
            label 
                clear: both
                width: 100%
                display: inline-block
                float: left
                margin-bottom: 5px
                text-transform: uppercase
                font-size: 12px
                min-height: 15px
                line-height: 15px        
            input[type="text"],
            input[type="password"],
            input[type="number"],
            input[type="email"],
            input[type="tel"],
            input[type="url"],
            input[type="date"],
            textarea
                clear: both
                width: calc(100% - 20px)
                padding: 10px
                border: 0
                border-bottom: 2px solid $input-border-color
                background: $input-color
                font-size: 14px
                color: $font-color
                line-height: 20px
                font-family: 'Open Sans', Helvetica, Arial
                &:focus
                    border-bottom: 2px solid
                    outline: none
                    transition: 0.25s
                    -ms-transition: 0.25s
                    -moz-transition: 0.25s
                    -webkit-transition: 0.25s
            textarea,
            textarea:focus
                border-bottom: 0
            select
                width: 100%
                height: 40px
                display: inline-block
                font-size: 14px
                color: $font-color
                background: $input-color
                border: 0
                border-bottom: 2px solid $input-border-color
                -webkit-box-sizing: border-box
                -moz-box-sizing: border-box
                box-sizing: border-box
                -webkit-appearance: none
                -moz-appearance: none
                -webkit-border-radius: 0px
                -moz-border-radius: 0px
                -webkit-user-select: none
                -moz-user-select: none
                -webkit-padding-start: 10px
                -moz-padding-start: 5px
                &:focus
                    border-bottom: 2px solid
                    outline: none
                    transition: 0.25s
                    -ms-transition: 0.25s
                    -moz-transition: 0.25s
                    -webkit-transition: 0.25s
                option
                    color: $font-color
                    padding: 5px 10px
            input[type="submit"] 
                float: right
                padding: 10px 20px
                &:hover
                    opacity: 0.75
                    filter: alpha(opacity=75)
                    transition: 0.25s
                    -ms-transition: 0.25s
                    -moz-transition: 0.25s
                    -webkit-transition: 0.25s
                &:focus
                    outline: none
                    border: 0
            &.form-item-checkbox
                input[type="checkbox"]
                    width: 15px
                    height: 15px
                    display: inline-block
                    margin: 0 10px 0 0
                    float: left
                label
                    width: calc(100% - 25px)
                    float: right
                    display: inline-block
                    height: 15px
                    margin: 0
                    text-transform: none
                    font-size: 14px
            textarea 
                height: 200px
                resize: none
            .trumbowyg-box 
                display: inline-block
                position: relative
                border: 1px solid $input-border-color
                width: 100%
                min-height: 300px
                margin: 0px auto
            input[type="range"]
                border: 0        
                width: 100%
                font-size: 10px
                margin: 5px 0
                float: left
                display: inline-block
                &::-webkit-slider-runnable-track
                    height: 5px
                    background: $input-color
                    border: 0
                &::-webkit-slider-thumb
                    -webkit-appearance: none
                    border: 0
                    height: 16px
                    width: 16px
                    border-radius: 50%
                    background: $dark-gray-color
                    margin-top: -4px
                &:focus
                    outline: none
                    border: 0
                    &::-webkit-slider-runnable-track
                        background: $input-border-color
                &:active
                    outline: none !important
                    border: 0 !important
                &::-moz-range-track
                    height: 5px
                    background: $input-color
                    border: 0
                    border-radius: 3px
                &::-moz-range-thumb
                    border: 0
                    height: 16px
                    width: 16px
                    border-radius: 50%
                    background: $dark-gray-color
                &::-ms-track
                    height: 16px
                    background: $input-color
                    border: 0
                    border-radius: 10px
                    color: transparent
                &::-ms-fill-lower
                    outline: none
                    background: #777777
                    border-radius: 10px 0 0 10px
                &::-ms-thumb
                    border: 0
                    height: 16px
                    width: 16px
                    border-radius: 50%
                    background: $dark-gray-color
                &:focus
                    &::-ms-track
                        background: $input-border-color
                    &::-ms-fill-lower
                        background: #888888

@media screen and (max-height: 30.5em)
    .authentication-overlay
        nav
            height: 70%
            font-size: 34px
        ul 
            li
                min-height: 34px