@import includes

// ------ JSTree styling ------

ul.jstree-children
    margin: 0 0 0 15px !important
    border-left: 2px dotted $input-border-color
    &.jstree-container-ul
        margin: 0 !important
    .jstree-node
        margin-left: -4px
    li
        position: relative
        a
            display: block
            padding: 5px 15px 5px 14px
            margin: 10px 0 10px 0px
            color: $font-color
            height: 20px
            line-height: 20px
            font-size: 14px
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap
            &:before
                content: ''
                position: absolute
                left: 8px
                top: 14px
                width: 3px
                height: 0
                border-bottom: 2px dotted $input-border-color
            &:after
                content: ""
                display: block
                position: absolute
                left: 0
                top: 12px
                width: 6px
                height: 6px
                background-color: $dark-gray-color
            &:focus
                outline: none
            &:hover
                text-decoration: underline
                transition: 0.25s
                -ms-transition: 0.25s
                -moz-transition: 0.25s
                -webkit-transition: 0.25s
            &:active
                cursor: move !important
        &.jstree-open

            li
                a
                    border-left: 0
                    position: relative
#jstree-marker
    position: absolute
    display: block
    z-index: 100
    padding: 0
    width: 0
    height: 0
    border-left: 4px solid $font-color
    border-bottom: 4px solid transparent
    border-top: 4px solid transparent
    background: none
    margin-left: -10px
