@import includes

// ------ Trumboywg styling ------

@charset "UTF-8"

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 * Edited by Alexander van Brakel (alexander@label305.com) and Olav Peuscher (olav@label305.com)

.pika-single
    z-index: 9999
    display: block
    position: relative
    color: $font-color
    background: white
    font-family: 'Open Sans', Helvetica, Arial, serif
    &:before
        content: " "
        display: table
    &:after
        content: " "
        display: table
        clear: both
    *zoom: 1
    &.is-hidden
        display: none
    &.is-bound
        position: absolute
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5)
        -ms-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5)
        -moz-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5)
        -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5)

/*
 *clear child float (pika-lendar), using the famous micro clearfix hack
 *http://nicolasgallagher.com/micro-clearfix-hack/

.pika-lendar
    float: left
    width: 240px
    margin: 15px

.pika-title
    position: relative
    text-align: center

.pika-label
    display: inline-block
    *display: inline
    position: relative
    z-index: 9999
    overflow: hidden
    margin: 0
    padding: 5px
    font-size: 14px
    line-height: 20px
    font-weight: bold
    background-color: white

.pika-title select
    cursor: pointer
    position: absolute
    z-index: 9998
    margin: 0
    left: 0
    top: 5px
    filter: alpha(opacity=0)
    opacity: 0

.pika-prev, .pika-next
    display: block
    cursor: pointer
    position: relative
    outline: none
    border: 0
    padding: 0
    width: 20px
    height: 30px
    /* hide text using text-indent trick, using width value (it's enough)
    text-indent: 20px
    white-space: nowrap
    overflow: hidden
    background-color: transparent
    background-position: center center
    background-repeat: no-repeat
    background-size: 75% 75%
    opacity: .5
    *position: absolute
    *top: 0

.pika-prev:hover, .pika-next:hover
    opacity: 1

.pika-next
    float: right
    padding: 0
    margin: 11px 3px
    width: 0
    height: 0
    border-left: 6px solid $dark-gray-color
    border-bottom: 6px solid transparent
    border-top: 6px solid transparent
    background: none

.pika-prev
    float: left
    padding: 0
    margin: 11px 3px
    width: 0
    height: 0
    border-right: 6px solid $dark-gray-color
    border-bottom: 6px solid transparent
    border-top: 6px solid transparent
    background: none

.pika-prev.is-disabled, .pika-next.is-disabled
    cursor: default
    opacity: .2

.pika-select
    display: inline-block
    *display: inline

.pika-table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    border: 0
    th, td
        width: 30px
        padding: 0
        display: block
        float: left
    th
        color: #999
        font-size: 12px
        line-height: 25px
        font-weight: bold
        text-align: center

.pika-button
    cursor: pointer
    display: block
    box-sizing: border-box
    -moz-box-sizing: border-box
    outline: none
    border: 0
    margin: 0
    width: 100%
    padding: 5px
    color: #666
    font-size: 12px
    line-height: 15px
    text-align: center
    background: $input-color

.pika-week
    font-size: 12px
    color: #999

.is-today .pika-button
    color: #33aaff
    font-weight: bold

.is-selected .pika-button
    color: #fff
    font-weight: bold

.is-disabled .pika-button
    pointer-events: none
    cursor: default
    color: #999
    opacity: .3

.pika-button:hover
    background: $dark-gray-color !important
    transition: 0.25s
    -ms-transition: 0.25s
    -moz-transition: 0.25s
    -webkit-transition: 0.25s