@import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,700");
.trumbowyg-box {
  border: 0 !important; }
  .trumbowyg-box .trumbowyg-editor {
    background-color: #ededed;
    padding: 20px; }
  .trumbowyg-box .trumbowyg-button-pane {
    background-color: #e3e3e3;
    border: 0 !important; }
    .trumbowyg-box .trumbowyg-button-pane .trumbowyg-separator {
      background-color: #cccccc;
      margin: 0 !important; }
    .trumbowyg-box .trumbowyg-button-pane button {
      margin: 0 !important; }
      .trumbowyg-box .trumbowyg-button-pane button:hover {
        background-color: #1ebab8 !important;
        transition: 0.25s;
        -ms-transition: 0.25s;
        -moz-transition: 0.25s;
        -webkit-transition: 0.25s; }
      .trumbowyg-box .trumbowyg-button-pane button.trumbowyg-active {
        background-color: #1ebab8 !important; }
  .trumbowyg-box textarea {
    width: 100% !important;
    padding: 20px !important; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", Helvetica, Arial;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style-type: none; }

blockquote {
  quotes: none; }
  blockquote:before, blockquote:after {
    content: none; }

q {
  quotes: none; }
  q:before, q:after {
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #f1f1f1;
  color: #454545;
  overflow-y: hidden; }
  body h1 {
    float: left;
    height: 40px;
    margin: 15px 0px 15px 30px;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px; }
  body h2 {
    font-size: 25px;
    font-weight: 100;
    height: 40px;
    line-height: 40px; }
  body a {
    text-decoration: none; }

.button {
  width: auto;
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 14px;
  line-height: 20px; }

h2 > .button {
  float: right; }
h2 span {
  height: 40px;
  display: inline-block;
  width: auto;
  line-height: 40px;
  float: left; }

.authentication-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  vertical-align: middle;
  background: #f1f1f1; }
  .authentication-overlay.transparent {
    background: rgba(241, 241, 241, 0.8); }
  .authentication-overlay form {
    position: absolute;
    display: table-cell;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 330px;
    width: 420px;
    padding: 45px;
    margin: auto;
    background: white; }
  .authentication-overlay.authentication-overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s; }
    .authentication-overlay.authentication-overlay-hugeinc.open {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }

.message {
  position: fixed;
  z-index: 1001;
  top: calc(50% - 80px);
  right: 0;
  left: 0;
  width: 550px;
  min-height: 120px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  animation-duration: 0.25s !important;
  -ms-animation-duration: 0.25s !important;
  -moz-animation-duration: 0.25s !important;
  -webkit-animation-duration: 0.25s !important; }
  .message:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0; }
  .message:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    background-image: url("../img/close.svg");
    background-size: 15px;
    cursor: pointer; }

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 70px; }
  header #user {
    float: right;
    margin-top: 15px;
    line-height: 20px;
    display: inline-block;
    width: auto;
    color: white;
    height: 20px;
    padding: 10px 0;
    margin-right: 15px;
    font-size: 15px; }
  header #buttons {
    float: right;
    margin-top: 15px;
    margin-right: 15px; }
    header #buttons > a {
      display: inline-block;
      width: auto;
      color: white;
      height: 20px;
      padding: 10px 15px;
      margin-right: 10px;
      font-size: 15px;
      line-height: 20px;
      margin: 0; }
      header #buttons > a:hover {
        background-color: #e3e3e3 !important;
        transition: 0.25s;
        -ms-transition: 0.25s;
        -moz-transition: 0.25s;
        -webkit-transition: 0.25s;
        color: #454545; }

ul#main-menu {
  position: fixed;
  z-index: 999;
  top: 100px;
  left: 15px; }
  ul#main-menu span {
    display: none; }
  ul#main-menu li {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 30px;
    display: block; }
    ul#main-menu li:before {
      color: white;
      position: absolute;
      height: 60px;
      width: 60px;
      font-size: 25px;
      line-height: 60px;
      text-align: center; }
    ul#main-menu li:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 9px 15px 0 0;
      border-style: solid;
      border-color: transparent #07a6a1 transparent transparent;
      top: -10px;
      left: 0; }

#panels {
  position: absolute;
  display: table;
  top: 70px;
  height: calc(100% - 100px);
  overflow-x: scroll;
  overflow-y: hidden;
  left: 30px; }
  #panels:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    width: 30px;
    background-color: #f1f1f1;
    z-index: 998; }
  #panels > div {
    display: table-row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  #panels .panel {
    display: table-cell;
    position: relative;
    background-color: white;
    border-right: 4px solid #f1f1f1;
    animation-duration: 0.25s !important;
    -ms-animation-duration: 0.25s !important;
    -moz-animation-duration: 0.25s !important;
    -webkit-animation-duration: 0.25s !important;
    z-index: 99; }
    #panels .panel.animated:last-child {
      z-index: 1 !important; }
    #panels .panel:first-child > div {
      margin-left: 45px; }
    #panels .panel > div {
      overflow-y: auto;
      overflow-x: hidden;
      float: left; }

#panels .panel-menu > div {
  width: 300px;
  display: block; }
  #panels .panel-menu > div ul {
    margin: 30px 0 0 30px; }
    #panels .panel-menu > div ul li {
      position: relative; }
  #panels .panel-menu > div .menu-item-link {
    display: block;
    height: 30px;
    padding: 15px 15px 14px 30px;
    border-bottom: 1px solid;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    width: calc(100% - 45px); }
    #panels .panel-menu > div .menu-item-link:before, #panels .panel-menu > div .menu-item-link:after {
      position: absolute;
      font-size: 18px;
      line-height: 30px;
      height: 30px;
      width: 30px;
      display: block;
      top: 15px; }
    #panels .panel-menu > div .menu-item-link:before {
      left: 0; }
    #panels .panel-menu > div .menu-item-link:after {
      content: "\f154";
      font-family: "Ionicons";
      right: 0;
      color: #e3e3e3; }
    #panels .panel-menu > div .menu-item-link.active.auja-active-border-main {
      border-bottom: 2px solid;
      border-color: inherit;
      padding-bottom: 13px; }
      #panels .panel-menu > div .menu-item-link.active.auja-active-border-main:after, #panels .panel-menu > div .menu-item-link.active.auja-active-border-mainbefore {
        color: inherit; }
  #panels .panel-menu > div .menu-item-spacer {
    min-height: 15px;
    padding: 23px 0 5px 30px;
    margin: 0 0 0 -30px;
    border-bottom: 2px solid;
    font-size: 12px;
    line-height: 15px;
    cursor: default;
    text-transform: uppercase;
    background-color: white; }
  #panels .panel-menu > div .menu-item-resource > ul {
    margin: 0; }
  #panels .panel-menu > div input[type="text"] {
    width: 100%;
    display: inline-block;
    height: 40px;
    background-color: #ededed;
    margin-left: -30px;
    padding: 0 15px;
    border: 0;
    border-bottom: 2px solid #e3e3e3;
    font-size: 14px; }
    #panels .panel-menu > div input[type="text"]:focus {
      outline: none;
      border: none;
      border-bottom: 2px solid #1ebab8;
      transition: 0.25s;
      -ms-transition: 0.25s;
      -moz-transition: 0.25s;
      -webkit-transition: 0.25s; }

#panels .panel-page > div {
  width: 600px; }
  #panels .panel-page > div > div {
    margin: 30px; }
#panels .row {
  width: 100%;
  clear: both;
  display: inline-block; }

form .row.form-item {
  margin: 30px 0 0 0; }
  form .row.form-item label {
    clear: both;
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    min-height: 15px;
    line-height: 15px; }
  form .row.form-item input[type="text"],
  form .row.form-item input[type="password"],
  form .row.form-item input[type="number"],
  form .row.form-item input[type="email"],
  form .row.form-item input[type="tel"],
  form .row.form-item input[type="url"],
  form .row.form-item input[type="date"],
  form .row.form-item textarea {
    clear: both;
    width: calc(100% - 20px);
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #e3e3e3;
    background: #ededed;
    font-size: 14px;
    color: #454545;
    line-height: 20px;
    font-family: "Open Sans", Helvetica, Arial; }
    form .row.form-item input[type="text"]:focus,
    form .row.form-item input[type="password"]:focus,
    form .row.form-item input[type="number"]:focus,
    form .row.form-item input[type="email"]:focus,
    form .row.form-item input[type="tel"]:focus,
    form .row.form-item input[type="url"]:focus,
    form .row.form-item input[type="date"]:focus,
    form .row.form-item textarea:focus {
      border-bottom: 2px solid #1ebab8 !important;
      outline: none;
      transition: 0.25s;
      -ms-transition: 0.25s;
      -moz-transition: 0.25s;
      -webkit-transition: 0.25s; }
  form .row.form-item select {
    width: 100%;
    height: 40px;
    display: inline-block;
    font-size: 14px;
    color: #454545;
    background: #ededed;
    border: 0;
    border-bottom: 2px solid #e3e3e3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-start: 10px;
    -moz-padding-start: 5px; }
    form .row.form-item select:focus {
      border-bottom: 2px solid #1ebab8 !important;
      outline: none;
      transition: 0.25s;
      -ms-transition: 0.25s;
      -moz-transition: 0.25s;
      -webkit-transition: 0.25s; }
    form .row.form-item select option {
      color: #454545;
      padding: 5px 10px; }
  form .row.form-item input[type="submit"] {
    float: right; }
    form .row.form-item input[type="submit"]:hover {
      background-color: #e3e3e3 !important;
      transition: 0.25s;
      -ms-transition: 0.25s;
      -moz-transition: 0.25s;
      -webkit-transition: 0.25s;
      color: #454545; }
    form .row.form-item input[type="submit"]:focus {
      outline: none;
      border: 0; }
  form .row.form-item.form-item-checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 10px 0 0;
    float: left; }
  form .row.form-item.form-item-checkbox label {
    width: calc(100% - 25px);
    float: right;
    display: inline-block;
    height: 15px;
    margin: 0;
    text-transform: none;
    font-size: 14px; }
  form .row.form-item textarea {
    height: 200px;
    resize: none; }
  form .row.form-item .trumbowyg-box {
    display: inline-block;
    position: relative;
    border: 1px solid #e3e3e3;
    width: 100%;
    min-height: 300px;
    margin: 0px auto; }
  form .row.form-item input[type="range"] {
    border: 0;
    width: 100%;
    font-size: 10px;
    margin: 5px 0;
    float: left;
    display: inline-block; }
    form .row.form-item input[type="range"]::-webkit-slider-runnable-track {
      height: 5px;
      background: #ededed;
      border: 0; }
    form .row.form-item input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 0;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #1ebab8;
      margin-top: -4px; }
    form .row.form-item input[type="range"]:focus {
      outline: none;
      border: 0; }
      form .row.form-item input[type="range"]:focus::-webkit-slider-runnable-track {
        background: #e3e3e3; }
    form .row.form-item input[type="range"]:active {
      outline: none !important;
      border: 0 !important; }
    form .row.form-item input[type="range"]::-moz-range-track {
      height: 5px;
      background: #ededed;
      border: 0;
      border-radius: 3px; }
    form .row.form-item input[type="range"]::-moz-range-thumb {
      border: 0;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #1ebab8; }
    form .row.form-item input[type="range"]::-ms-track {
      height: 16px;
      background: #ededed;
      border: 0;
      border-radius: 10px;
      color: transparent; }
    form .row.form-item input[type="range"]::-ms-fill-lower {
      outline: none;
      background: #777777;
      border-radius: 10px 0 0 10px; }
    form .row.form-item input[type="range"]::-ms-thumb {
      border: 0;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #1ebab8; }
    form .row.form-item input[type="range"]:focus::-ms-track {
      background: #e3e3e3; }
    form .row.form-item input[type="range"]:focus::-ms-fill-lower {
      background: #888888; }

@media screen and (max-height: 30.5em) {
  .authentication-overlay nav {
    height: 70%;
    font-size: 34px; }
  .authentication-overlay ul li {
    min-height: 34px; } }
