/*
 * Fonts imported from Google Fonts, when offline use is required, download zip from the import page 
 */
@import url('https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,700');

/* 
 * CSS reset, including force setting of font-family
 *
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', Helvetica, Arial;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * Scaffolding
 */
body {
    background: #f1f1f1;
    color: #555555;
}
h1 {
    float: left;
    height: 30px;
    margin: 25px 0px 25px 45px;
    font-size: 27px;
    font-weight: 300;
    line-height: 27px;
}

a {
    text-decoration: none;
}

header {
    
}
    header #user {
        float: right;
        margin-top: 20px;
    }
    header #buttons {
        float: right;
        margin-top: 20px;
        margin-right: 10px;
    }
        header #user,
        header #buttons>a {
            display: inline-block;
            width: auto;
            color: #FFF;
            height: 20px;
            padding: 10px 15px;
            margin-right: 10px;
            font-size: 15px;
        }

ul#main-menu {
    position: fixed;
    z-index: 50;
    top: 115px;
    left: 10px;
}
    ul#main-menu li {
        position: relative;
        width: 56px;
        height: 56px;
        cursor: pointer;
        margin-bottom: 30px;
    }
        /* The triangle */
        ul#main-menu li:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 9px 19px 0 0;
            border-style: solid;
            border-color: transparent rgb(7, 166, 161) transparent transparent;/* TODO set color from JS */
            top: -10px;
            left: 0;
        }
        ul#main-menu li p {
            display: none;
        }

/* Generic panel */        
#panels {
    position: absolute;
    top: 80px;
    left: 30px;
    right: 20px;
    bottom: 20px;
}
    #panels .panel {
        float: left;
        display: inline-block;
        height: 100%;
        background-color: #FFF;
        margin-right: 5px;
    }
        #panels .panel:first-child {
            padding-left: 35px;
        }
        
/* Menu */
#panels .panel-menu {
    width: 300px;
}
#panels .panel-menu ul {
    margin: 30px 0 0 30px;
}

#panels .panel-menu .menu-item-link {
    font-size: 14px;
    height: 30px;
    margin-top: 1px;
    padding: 10px 20px 10px 50px;
    line-height: 30px;
    border-bottom: 1px solid;
}
#panels .panel-menu .menu-item-spacer {
    border-bottom: 2px solid;
    min-height: 15px;
    padding: 0 0 5px 30px;
    margin: 10px 0 0 -30px;
    width: 270px;
    line-height: 15px;
    cursor: default;
    text-transform: uppercase;
    font-size: 12px;
}