---
layout: default
---

{% assign absoluteurl = 'Auja/' %}

<main class="pos-rel docs-introduction">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="no-line">{{ page.title }}</h2>
            </div>
        </div>
    </div>
</main>
{% assign current = page.url | downcase | split: '/' %}

<header class="docs">
    <div class="container pos-rel">
        <div class="row">
            <div class="col-xs-12">
                <a class="auja" href="/{{ absoluteurl }}">Auja</a>

                <nav id="nav-menu">
                    <ul id="nav-menu-list">
                        {% assign current = page.url | downcase | split: '/' %}
                        <li class="nav-menu-item {% if current[1] == 'introduction' %}current{% endif %}"><a href="/{{ absoluteurl }}introduction">Introduction</a></li>
                        <li class="nav-menu-item {% if current[1] == 'getting_started' %}current{% endif %}"><a href="/{{ absoluteurl }}getting_started">Getting started</a></li>
                        <li class="nav-menu-item {% if current[1] == 'documentation' %}current{% endif %}"><a href="/{{ absoluteurl }}documentation">Documentation</a></li>
                        <li class="nav-menu-item {% if current[1] == 'Github' %}current{% endif %}"><a href="https://github.com/Label305/Auja">Auja on Github</a></li>
                    </ul>
                </nav>

                <a class="label-logo" href="http://www.label305.com"></a>
            </div>
        </div>
    </div>
</header>

<!-- Page start -->

{{ content }}

<!-- Page end -->

<!-- Footer -->
<footer class="wrapper">
    <div class="container">
        <div id="copyright" class="wrapper"><p>Developed with love by Label305</p><p>&copy; 2014 <a href="http://label305.com">Label305 B.V.</a></p><p>Auja is released under the Apache License Version 2.</p></div>
    </div>
</footer>
</body>
</html>
