---
layout: docs
---

<!-- Page -->
<section class="docs pos-rel">
    <div class="container pos-rel">
        <div class="row">
            <div class="col-xs-3 docs-menu">
                <span>Getting started</span>
                <ul>
                    {% assign current = page.url | downcase | split: '/' %}
                    {% assign no = 2  %}
                    <li class="{% if current[no] == 'index.html' %}current{% endif %}"><a href="index.html">Getting started</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 docs-content pull-right">
                {{ content }}
            </div>
        </div>
    </div>

</section>