---
layout: default
---
<!-- Page -->

<main class="wrapper introduction">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p class="intro"><span>Auja</span> is a generic back-end interface, you can put atop any web application easily.
                    It is designed to be friendly for both the end-user and the developer.</p>
            </div>
            <div class="col-xs-12">
                <a class="button white huge-button" href="/getting_started.html">Getting started</a>
                <!--<a class="button white huge-button">Try the demo</a>-->
            </div>
        </div>
    </div>
</main>

<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                {{ content }}

            </div>
        </div>
    </div>

</section>


<!-- Page end -->