---
layout: default
---
<!-- Page -->

<main class="wrapper pos-rel introduction">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p class="intro"><span>Auja</span> is a back-end interface designed to be friendly on both sides, for the end-user as well as the developer.</p>
            </div>
            <div class="col-xs-12">
                <a class="button white huge-button">Getting started</a>
                <a class="button white huge-button">Try the demo</a>
            </div>
        </div>
    </div>
</main>

<section class="first-home-item">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                {{ content }}

            </div>
        </div>
    </div>

</section>


<!-- Page end -->